:root{
    --card-padding: 1.5em;
    --card-size: 80%;
    --card-size-shifted: calc(var(--card-size) - (var(--card-padding) * 2));
}

.card{
    --margin: calc((100% - var(--card-size-shifted)) / 2 - var(--card-padding));
    display: inline-block;
    height: var(--card-size-shifted);
    width: var(--card-size-shifted);
    margin-left: var(--margin);
    margin-top: var(--margin);
    background: #d8eefb;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
}

.card.id > .heading{
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.card.id .avatar{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    float: right;
    width: 40%;
    min-width: 80px;
    max-width: 200px;
    margin-left: 0.75em;
}

.card.id .avatar > div{
    padding-bottom: calc(100% / 3 * 4);
}

.card.id .footer{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.card.id .footer > div:first-child{
    flex-grow: 1;
}

.card.id .footer > hr{
    width: 100%;
}

.card.id > div {
    word-break: break-word;
}
