:root{
    --card-padding: 40px;
    --card-size: 74%;
    --card-size-shifted: calc(var(--card-size) - (var(--card-padding) * 2));
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: #b7e1c3;
    font-family: 'Roboto', sans-serif;
}

.card{
    --margin: calc((100% - var(--card-size-shifted)) / 2 - var(--card-padding));
    display: inline-block;
    height: var(--card-size-shifted);
    width: var(--card-size-shifted);
    margin-left: var(--margin);
    margin-top: var(--margin);
    background: #d8eefb;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: var(--card-padding);
    display: grid;
}

.card.id{
    grid-template-columns: auto 40%;
    grid-template-rows: 4em 1.5em 1.5em 2.5em 3.5em auto;
    grid-template-areas: "heading    heading"
                         "first-name avatar"
                         "last-name  avatar"
                         "age        avatar"
                         "birthday   avatar"
                         "footer     footer";
}

.card.id > .heading{
    grid-area: heading;
}

.card.id > .avatar{
    grid-area: avatar;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.card.id > .first-name{
    grid-area: first-name;
}

.card.id > .last-name{
    grid-area: last-name;
}

.card.id > .age{
    grid-area: age;
}

.card.id > .birthday{
    grid-area: birthday;
}

.card.id > .footer{
    grid-area: footer;
    display: grid;
    grid-template-rows: auto 20px 3.5em;
    grid-template-columns: 1fr;
}

.card.id > div {
    word-break: break-word;
}
