body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background: #b7e1c3;
    font-family: 'Exo 2', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.monotype{
    font-family: 'Ubuntu Mono', 'Noto Mono', 'Roboto Mono', mono, monospace;
}
